<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1><center>Codes Journaux</center></h1>
    <br>
    <div class="tab">
        <table class="table table-striped">
            <tr>
                <td>Code</td>
                <td>Libelle</td>
            </tr>
            <tr>
                <td>AC</td>
                <td>Achat</td>
            </tr>
        </table>
    </div>
</body>
</html>