<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1><center>Ajouter Plan Comptable</center></h1>
    <br>
    <div class="fo">
        <form action="" method="">
            <div class="mb-3">
                <label for="num_compte" class="form-label">Numero compte</label>
                <input type="number" class="form-control" id="num_compte" name="num_compte" required>
            </div>
            <div class="mb-3">
                <label for="nom_compte" class="form-label">Nom compte</label>
                <input type="text" class="form-control" id="nom_compte" name="nom_compte" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>